<div class="col-sm-6">
    <h3 class="text-primary">Localidades</h3>
    <div id="mapDiv" class="gmap"></div>
</div>
</div>
<script>
    var lat = {{ items.businesses.0.coordinates.latitude | safe}}; //Ñ trocar ponto por vírgula
    var lon =  {{ items.businesses.0.coordinates.longitude | safe}};

    var map = L.map('mapDiv').setView([lat, lon], 13); //0 até 18

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
        //attribution : 'Map data &copy; <a href="https://tile.openstreetmap.org/">OpenStreetMap</a> contributors',
        //maxZoom: 18,
    }).addTo(map);

    {% for b in items.businesses %}
        var marker = L.marker([{{ b.coordinates.latitude | safe}}, {{ b.coordinates.longitude | safe }} ]).addTo(map);
    
        marker.bindPopup("<b>{{ b.name }}</b><br/>{{ b.location.display_address.0 }}  {{ b.location.display_address.1}}<br/>{{ city }}").openPopup();
    {% endfor %}
</script>